.connection {
  font-style: italic;
  text-align: center;
}

.messages {
  padding: 2rem;
  height: 50vh;
  overflow-y: scroll;
  margin-top: 3rem;
}

.chat_bar {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #eaeaf0;
}

.chat_bar input {
  padding: 2rem;
  border: none;
  outline: none;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
}

.chat_bar input::placeholder {
  color: #9a9da5;
}

.chat_bar button {
  outline: none;
  border: none;
  cursor: pointer;
  padding-right: 2rem;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.status {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  border-radius: 50%;
  margin-left: 1rem;
}
