.App {
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.input_box {
  margin: 0 auto;
  text-align: center;
}

.input_box input {
  padding: 2rem;
  border: none;
  outline: none;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  font-style: italic;
}

.input_box input::placeholder {
  color: var(--color-grey);
}

.input_box button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  text-decoration: underline;
  color: var(--color-blue);
  background-color: transparent;
}

.status {
  margin: 3rem 0;
  color: var(--color-grey);
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .App {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .App {
    width: 100%;
  }

}